* {
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
}

.main{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width:70%;
    height:600px;
    max-width: 1200px;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.side1{
    width:50%;
    height: 100%;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}

.side1 h2{
    font-size:3rem;
    padding: 0 10% 0 10%;
    margin:0;
    color:white;
}

.side1 .desc{
    font-size:1.3rem;
    line-height: 1.5;
    padding: 0 10% 0 10%;
    margin:0;
    color:rgb(170, 170, 170);
}

.side2{
    background-image:
    linear-gradient(to bottom, rgba(170, 92, 219, 0.6)80%, rgba(117, 19, 93, 0.8)),url('images/image-header-desktop.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 50%;
    height:100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.figure{
    display: flex;
    gap:60px; 
    padding: 0 10% 0 10%;
    margin:0;
    color:white;
}

.figure p{
    margin: 0;
}

.bold{
    font-size:2rem;
    font-weight: 700;
}

.thin{
    text-transform: uppercase;
    font-size:0.8rem;
    color:rgb(170, 170, 170);
}

.purple{
    color:hsl(277, 64%, 61%);
}

@media only screen and (max-width: 810px){
    .card{
        flex-direction: column-reverse;
        width:80%;
        height:800px;
        border:20px;
        border-top-left-radius: 20px;
    }

    .side1{
        width:100%;
        align-items: center;
        text-align: center;
        border-top-left-radius: 20px;
    }

    .side2{
        width:100%;
        background-image:
    linear-gradient(to bottom, rgba(170, 92, 219, 0.6)80%, rgba(117, 19, 93, 0.8)),url('images/image-header-mobile.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-right-radius: unset;
    }
}

@media only screen and (max-width: 428px){
    .card{
        flex-direction: column-reverse;
        width:95%;
        height:650px;
    }

    .side1{
        width:100%;
    }

    .side1 h2{
        font-size:1.5rem;
        padding-top: 5%;
    }

    .side1 .desc{
        font-size:0.9rem;
    }

    .figure{
        gap:30px;
        padding-bottom: 5%;
    }

    .f1 .bold{
        font-size:1.2rem;
    }

    .f1 .thin{
        font-size:0.6rem;
    }

    .side2{
        width:100%;
        background-image:
    linear-gradient(to bottom, rgba(170, 92, 219, 0.6)80%, rgba(117, 19, 93, 0.8)),url('images/image-header-mobile.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    }
}
